::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
        color: #fff;
        font-family: sans-serif;
        font-size: 1.25rem;
        line-height: 150%;
        text-align: center;
        text-shadow: 0 2px 2px #b6701e;
}


#footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
        width:100%;
	padding: 0 10px 0 10px;
        margin-top: 20px;
	
}

body.homecss #container {
	
	background: linear-gradient(
            to right, 
            #77a0ff 0%, 
            #356ae8 10%, 
            #0c52f4 90%, 
            #001d60 100%
        );
}
* {
  box-sizing: border-box;
}
body.homecss html, body, section, div {
  height: 100%;
}


body.homecss section {
  width: 100%;
}

body.homecss article {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 1rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
body.homecss .left-half {
  background: linear-gradient(
            to right, 
            #d3fff5 0%, 
            #cffcdf 40%, 
            #c0f7d4 90%, 
            #b1f9cc 100%
        );
  float: left;
  width: 75%;
}
body.homecss .right-half {
  background: linear-gradient(
            to right, 
            #99fcbe 0%, 
            #86f9b1 40%, 
            #65f299 90%, 
            #3ce078 100%
        );
  float: left;
  width: 25%;
}

/* Table styles and Body home_pages*/
body.homecss table{
    font-family: 'Verdana';
    margin: 25px 25px 25px 25px;
    border-collapse: separate;
    border-spacing: 3px;
    border: 1px solid #eee;
    box-shadow:0px 0px 20px #808080;
    text-align:center;
    border-radius:10px;
}

body.homecss td:hover {
    color: #555;
    background: linear-gradient(
             to right, 
             #99fcbe 0%, 
             #86f9b1 40%, 
             #65f299 90%, 
             #3ce078 100%
         );
    text-decoration: underline;
}
body.homecss th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    text-align: center;    
}
body.homecss th {
    background: #000000;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    height : 120px;
    text-align: center;
}
body.homecss tr, td {
    transition: all 1s;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px #808080;
    height:50px;
    width:50px;
    text-align: center;
}

body.homecss .leftside{
    width: 80px;
}
body.homecss .Second td, body.homecss .Second tr{
    width:220px;
    text-align: center;
}
body.homecss .Second th{
    width:130px;
    text-align: center;
}
body.homecss .leftside td:hover{
      background: linear-gradient(
            to right, 
            #d3fff5 0%, 
            #cffcdf 40%, 
            #c0f7d4 90%, 
            #b1f9cc 100%
        );
      text-align: center;
}
body.homecss .first td, .first tr{
    width:220px;
    text-align: center;
}
body.homecss .first td:hover{
    background: linear-gradient(
            to right, 
            #d3fff5 0%, 
            #cffcdf 40%, 
            #c0f7d4 90%, 
            #b1f9cc 100%
        );
}

body.homecss .first th{
    width:130px;
    text-align: center;
}

/*Sales pages*/
body.SalesBody{
    margin-top:40px;
}

body.SalesBody h2, p{
   text-align: center;
}

body.SalesBody #buttongroup{
    border-top: 2px solid #D0D0D0;
    padding-top: 20px;
    padding-bottom: -30px;
    margin-right:275px;
}

body.SalesBody .list-group{
    margin-left:275px;
}
body.SalesBody .title{
    border-right: 2px solid #D0D0D0;
    margin-left:-30px;
    margin-right:15px;
}
/*Receiving body*/
body.probody{
    margin-top:70px;
}
body.probody .form-control{
    
    padding-top: 20px;
    padding-bottom: 20px;
}

/*production*/
body.productionMain{
    margin-top:70px;
}
body.productionMain input {
    
}
body.productionMain .productionSub{
   
}
body.productionMain .title{
    border-right: 2px solid #D0D0D0;
    padding-right: 20px;
}
body.productionMain .serviceMain{
    border-top: 2px solid #D0D0D0;
    padding-top: 20px;
    padding-bottom: 20px;
}

